* {
  margin: 0;
  --accent-color: #ff6b00;
  --accent-grey: #878787;
  --accent-darkGrey: #565656;
  --accent-darkBlack: #343434;
  --accent-border: 1px solid #000;
  font-family: "Poppins", sans-serif;
  --accent-light: white;
  max-width: 100%;
}
.genre-flex{
  margin-top: 30px;
}
.choosegenre {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.choosegenre li {
  margin: 20px;
}
.genre-list{
    margin: 30px 30px 30px 30px;
}
.choosegenre a {
  text-decoration: none;
  border: var(--accent-border);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: var(--accent-darkBlack);
}

.genre-list:hover {
  background-color: var(--accent-color);
  color: var(--accent-light);
  border-style: none;
  transition: all ease-in-out 200ms;
}
.wishlist-books {
    margin-right: 70px;
    padding-top: 10px;
  }
  .fa-heart {
    color: var(--accent-color);
    font-size: 27px;
  }
  .fa-heart:hover {
    cursor: pointer;
  }
  
  
